.main {
	width: 100%;
}
.page-tilte {
    width: 100%;
    background-color: #229922;
}
.presentetion {
    width: 100%;
    background-color: #222299;
}
.lead-form {
    width: 100%;
    background-color: #992222;
}

